:root{
    --primary-color : #CCDDFF; /*Bleu*/
    --secondary-color :rgb(135, 245, 193); /*Green*/ 
    --tercary-color : #FFDDCC; /*Orange*/
    --light: #FFFFFF; /*Blanc*/
    --dark: #111111; /*noir*/
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    height:100vh;
    width: 100vw;
    margin:0;
    font-size: 1.6rem; 
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    grid-template-rows: auto 3fr auto;
    grid-template-areas: "H H H"
                         "N M A"
                         "F F F";
    
    padding: 0px;
}
header{
    background-color: var(--primary-color);
    grid-area: H;
    text-align: center;
}
nav{
    
    background-color: var(--tercary-color);
    grid-area: N;
    padding:1rem;

    
}
main{
    background-color: var(--secondary-color);
    grid-area: M;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*flex-flow*: row warp  est un condensé des 2 lignes du dessus en 1 seule*/
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
   
}


h2{
width: 100%;
}

article{
    border:1px solid var(--dark);
    background-color: var(--light);
    flex-basis:200px;
    /*width: 200px;utiliser flex-basis est plus recommandé*/
}

aside{
    background-color: var(--tercary-color);
    grid-area: A;
   
}
footer{
    background-color: var(--primary-color);
    grid-area: F;
    text-align: center;
    padding: 2rem;
}
ul{
    list-style: none;
    padding-left: 0;
    /*list-style-image:url('../img/pikatchu.png'); pour mettre une image  à la place des puces*/

}
ul.menu{
display: flex;
flex-direction: row;
flex-wrap: wrap;
/*flex-flow: row wrap;*/
gap: 10px;

}

ul.menu li{
background-color: var(--light);
padding: 0;
flex-basis: 100%;
}

ul.menu a {
    display: block;
    padding: 1rem;
}
a{
    text-decoration: none;
    color:red;
    transition: all ease 0.6s;
}

a:visited{
    color: pink;
}

a:hover {
    text-decoration: underline;
    color: green;
    transform: rotate(30deg);
}

a:active{
    font-weight:bold;
}

