table{
    border-collapse: collapse; /* pour fusionner les bordures des tableaux*/
}
.buttonActionDuplicate{
    background-color: aqua;
    border: 1px solid black;
}
.buttonActionDelete{
    background-color: red;
    border: 1px solid black; 

}
th,td{
    padding: 5px; /* pour ecarter les contenus des bordures */
    border: 1px solid black;
}