@font-face {
    font-family: "toto";
    src: url('../fonts/OpenDyslexic-Regular.otf');
}

:root
{
    --color-1:#111;
    --color-2:#222;
    --color-3:#333;
    --color-4:#444;
    --color-5:#664;
    --color-6:white;
    --color-7:#FFFFFFCC;
    --color-8:yellow;
    --color-9:yellowgreen;
    --color-10:darkgreen;
    --color-11:#009900CC;
    --color-12:#CCCC00CC;
    --color-13:#CC6600CC;
    --color-14:#CC0000CC;
}
html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
}
body{
background-color: var(--color-1);
font-family:toto;
font-size: 1.6rem;
}
header{
display:flex;
justify-content: flex-end;
color: var(--color-9);
margin-bottom: 1rem;

}
h1{
    font-size: 5rem;
    padding-right: 60rem;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
fieldset{
background-color: var(--color-4);
color:var(--color-6);
display:flex;
border-radius:  1rem;

}
.rechercher{
    width :30rem
    
}
.filter{
    width :50rem
}
.categorie, .nutriscore{
    height:min-content;
}
.nutriscore{
    width: 30rem;
    display:flex;
    justify-content: space-evenly;
}
table{
    width:100%;
    background-color: var(--color-1);
    color : var(--color-6);
    border-collapse: collapse;
}
main{
    display:flex;
    
    justify-content: center;
    background-color:var(--color-1);
    
}
th{
    background-color: var(--color-4);
    /* text-align: center; */
    color:var(--color-9);
}

tr td:nth-child(1),tr td:last-child {
    background-color:var(--color-3);
    color:var(--color-12);
}

tr td:nth-child(12)[data-val="A"] {
    background-color:var(--color-10);
}
tr td:nth-child(12)[data-val="B"] {
    background-color: var(--color-11);
}
tr td:nth-child(12)[data-val="C"] {
    background-color: var(--color-12);
}
tr td:nth-child(12)[data-val="D"] {
    background-color: var(--color-13);
}
tr td:nth-child(12)[data-val="E"] {
    background-color: var(--color-14);
}

tr td:last-child {
    cursor: pointer;
}
thead{
    border-collapse: collapse;
    margin:0;
    padding:0;
}
tr td{
    text-align: center;
}
tr td:nth-child(2){
    text-align: left;
}

