<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardGame</title>
    <link rel ="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js" type ="module"></script>

</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <table v-if="cards != null && cards.cardsCollection.length > 0">
            <thead>
                <tr>
                    <td v-for="attribut in cardKeys">
                        {{ attribut }}
                    </td>
                </tr>
            </thead>

            <tbody>
                <tr v-for="card in cards.cardsCollection">
                    <td v-for="data in card.getValues()">{{ data }}</td>
                </tr>
            </tbody>

            <tfoot>
                <!--si on utilise la foction getHigherStats()-->
                <template v-for="stat in myStats">
                    <tr>
                        <td colspan="12">{{ stat }}</td>
                    </tr>

                    <tr>
                        <td v-for="data in cards.getHigherStats(stat)">{{ data }}</td>
                    </tr>
                </template>
            </tfoot>

            <tfoot>
                <template v-for="card in cards.getMyCards()">
                    <tr>
                        <td v-for="data in card.getValues()">{{ data }}</td>
                    </tr>
                </template>
            </tfoot>
        </table>  
    </div>
</body>
</html>
